@import url(http://fonts.googleapis.com/css?family=Roboto:300,300italic,400,900);

body{
	background-color: #000;
	color: #fff;
	height: 100%;
	width: 100%;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	font-weight: 300;
	padding: 1rem 0;
}
h3{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	font-weight: 300;

}
p, a, small{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 300;
}

#container {
  position: fixed;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  overflow: hidden;
  z-index: 0;
}
#container > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  #container > video { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  #container > video { width: 300%; left: -100%; }
}

@supports (object-fit: cover) {
  #container > video {
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
  }
}

.menu-link{
	position: absolute;
	top: 1rem;
	left: -3rem;
	z-index: 2;
	text-decoration: none;
	color: white;
	font-size: 2rem;
}

.panel{
	color: black;
	min-width: 1rem;
	height: 100%;
	position: absolute;
    position: fixed;
    right: -20rem;
    width: 20rem;
	top: 0;
	z-index: 1;
	background-color: white;
	text-align: center;
}
.panel ul{
	text-align: center;
}
.panel ul li{
	display: block;
}
.panel ul li:hover{
	background-color: black;
}
.panel ul li a:hover{
	color:white;
}
.panel ul li a{
	padding: 1rem 2rem;
	display: block;
	text-decoration: none;

}

.slider{
	border-width: 1px;
	border-style: solid;
	border-color: #333 #333 #777 #333;
	border-radius: 25px;
	width: 80%;
	left: 10%;
	position: absolute;
	height: 13px;
	background-color: #8e8d8d;
	background: url('../img/assets/bg-track.png') repeat top left;
    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 
    				  0 1px 0 0px rgba(250, 250, 250, .5);
}
.tooltip {
	position: absolute;
	display: block;
	top: -25px;
	width: 35px;
	height: 20px;
	color: #fff;
	text-align: center;
	font: 10pt Tahoma, Arial, sans-serif ;
	border-radius: 3px;
	border: 1px solid #333;
    -webkit-box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
    box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: -moz-linear-gradient(top,  rgba(69,72,77,0.5) 0%, rgba(0,0,0,0.5) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,0.5)), color-stop(100%,rgba(0,0,0,0.5)));
	background: -webkit-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%);
	background: -o-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%);
	background: -ms-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%);
	background: linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8045484d', endColorstr='#80000000',GradientType=0 );
}
.volume {
	content: "";
	display: inline-block;
	width: 80%;
	left: 10%;
	height: 25px;
	right: -5px;
	background: url('../img/assets/volume.png') no-repeat 0 -50px;
	position: absolute;
	margin-top: -5px;
}
.ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: url('../img/assets/handle.png') no-repeat 50% 50%;
	font-weight: bold;
	color: #1C94C4;
	outline: none;
	top: -7px;
	margin-left: -12px;
}
.ui-slider-range {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 100%);
	background: linear-gradient(top,  #ffffff 0%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	position: absolute;
	border: 0;
	top: 0;
	height: 100%;
	border-radius: 25px;
}

#dialog-message{
	text-align: center;
	color: black;
	background-color: white;
}
.ui-dialog .ui-dialog-buttonpane button{
	background-color: white;
	width: 30rem;
	padding: 0.5rem 1rem;
}
.no-close .ui-dialog-titlebar-close {display: none }

#container img{
	width: 100%;
}